<section class="container">
    <header class="header d-flex">
      <div class="buscar-pensamentos">
        <input class="filtro" type="search" autofocus placeholder="O que você procura?" [(ngModel)]="filtro" (keyup)="buscarPensamentos()">
        <img src="/assets/imagens/lupa.png" alt="Imagem da lupa">
      </div>
      <h2 class="ff-inter">Meu Mural</h2>
      <div class="botoes">
        <button class="botao" (click)="recarregarPensamentos()">Meu Mural</button>
        <button class="botao" (click)="listarFavoritos()">Meus Favoritos</button>
        <button routerLink="/criar-pensamento" class="botao">Novo pensamento</button>
      </div>
    </header>
    <div class="mural" *ngIf="listaDePensamentos.length > 0; else semPensamentos">
      <div *ngFor="let pensamento of listaDePensamentos" >
        <app-pensamento [pensamento]="pensamento" [listaFavoritos]="listaDeFavoritos"></app-pensamento>
      </div>
    </div>
    <app-botao-carregar-mais [haMaisPensamentos]="haMaisPensamentos" (click)="carregarMaisPensamentos()"></app-botao-carregar-mais>
  </section>
<ng-template #semPensamentos>
  <div class="ff-inter sem-pensamento">
    Ainda não há pensamentos cadastrados
  </div>
</ng-template>